header{
  font-family: 'Great Vibes', cursive;
  background-color: purple;
  font-size: 2em;
  color: White;
  overflow: hidden;
}

img{
  margin: auto;
  height: 500px;
  width: 300px;
  display: block;
  margin: auto;
 
}

.img-circle {
    border-radius: 50%;
    width: 300px;
    height: 500px;
}

p {
  font-family: 'Reenie Beanie', cursive;
  font-size: 1em;
  color: white;
  font-weight: bold;

}

header ul{
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  margin: 0;
  float: right;
  overflow: hidden;
  background-color: purple;
  font-family: serif;
}

header ul li{
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    vertical-align:top;
    float: left;
    margin-right: 25px;
    background-color: purple;
    padding-bottom: 10px;

}

body {
    background-image: url("http://wallpapercave.com/wp/CcGRIfJ.jpg");

}

a{
  text-decoration: none;
  color: white;
}

div.text-box {
  background-color: purple;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em; 

}